html, body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    flex: auto;
}



/* Header Styling */

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    color: white;
    background-color: #1d293b;
    padding-left: 12.5%;
    padding-right: 12.5%;
}

.title{
    font-weight: 900;
    color: white;
}

a{
    text-decoration: none;
    color: rgb(199, 199, 199);
    margin-left: 25px;
}

/*Section 1/Hero Statement Styling*/

.section1{
    display: flex;
    justify-content: center;

    background-color: #1d293b;
}

.content1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding-top: 5%;
    padding-bottom: 5%;

    width: 75%;
}

.hero-statement{
    display: flex;
    flex-direction: column;
    flex-basis: 400px;
}

.hero-image{
    width: 400px;
    height: 240px;
    max-width: 100%;
    max-height: 100%;
}

/* Second section of the website */

.section2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-top: 2%;
    padding-bottom: 2%;
}

.content2{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;

    width: 75%;
}

.module{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 15%;
    text-align: center;
    margin: 15px;

}

.square-image{
    border: 5px solid #2379fa;
    border-radius: 10px;

    height: 90%;
    width: 90%;
}

.subtext{
    color: #1d293b;
}

/* Section 3/Qoute styling */

.section3{
    display: flex;
    justify-content: center;

    background-color: #eee;

    padding-top: 5%;
    padding-bottom: 5%;

}

.content3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    width: 75%;

}

.qoute{
    color: black;
    width: 75%;
    height: auto;
    
    font-weight: 300;
    font-size: 24px;
    font-style: italic;

    margin-bottom: 5px;
}

.author{
    color: black;
    font-size: 24px;
    font-weight: 900;

    margin: 0;

}

.authorbox{
    display: flex;
    justify-content: flex-end;
    width: 75%;

    margin-right: 2%;
}

/* Section 4/Modal Stying */

.section4{
    display: flex;

    justify-content: center;
    align-items: center;


    height: 30vh;
}

.content4{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 75%;
    height: 100%;

}

.modal{
    display: flex;
    justify-content: space-between;
    align-items: center;


    background-color: #2f82ff;
    border-radius: 10px;
    width: 75%;
    height: 50%;
}

.modal-left{
    padding-left: 10%;
}

.modal-right{
    padding-right: 10%;
}

.modal-button{
    background-color: #2f82ff;
    border-color: white;
    border-width: 3px;
    border-style: solid;
}

.modal-header{
    color: white;
    margin-bottom: 1%;
}
 .modal-paragraph{
    margin-top: 0;
 }

/* Footer section */

.footer{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 5vh;

    background-color: #1d293b;
}

.copyright{
    color: white;
    font-weight: 350;
}

/* Element Styling */

h1{
    color: white;
}

p{
    color: rgb(211, 211, 211);
}

button{
    background-color: #2379fa;
    height: 36px;
    width: 150px;
    border-color: #2379fa;
    border-radius: 10px;

    color: white;
    font-size: 20px;
    font-weight: 900;
}

